# pycache files
__pycache__/
*.pyc

# Spyder project settings
.spyderproject
.spyproject

# Dask workers
dask-worker-space/

# Processing folders
_backup/
_temp_files/
log.txt

# Build folders
dist/
build/
reportio.egg-info/
